

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* ================================ */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}

/* ========================== */

.create-user-container{
  padding: 15px;
  text-align: center;
}

.create-user-container label {
  display: block;
}

.btn {
  padding-top: 10px;
  
}
.btn-submit{
  cursor: pointer;
}

/* ================= */

.action-btn{
  display: flex;
}

/* =============== code cho file update */

.update-user{
  padding: 15px;
  text-align: center;
}


.update-user label {
  display: block;
}

.btn-update {
  margin-top: 15px;
  cursor: pointer;
}